{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your account at {{ site_name }}.{% endblocktranslate %}

{% blocktranslate %}Please go to the following page and choose a new password:{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'Oakley:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Your username, in case you’ve forgotten:{% endblocktranslate %} {{ user.get_username }}

{% blocktranslate %}Thanks for using our site!{% endblocktranslate %}

{{ site_name }} team
{% endautoescape %}